.painel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 32px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.destaque {
    grid-column: span 2;
    background-color: #6C63FF;
}

.esportes {
    background-color: #d900ff;
}

.tecnologia {
    background-color: #ce469a;
}

.cultura {
    background-color: #ca1818;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    font-size: 13px;
}